<link href="/Static/CSS/slider.css" rel=" stylesheet" type="text/css" />
<body>
    <div class="slider-container">
        <div class="slider">
            <img src="../../Static/JPG/ny.jpg" width="500" height="250" alt="ny" />
            <img src="../../Static/JPG/spb.jpg" width="500" height="250" alt="spb" />
            <img src="../../Static/JPG/london.jpg" width="500" height="250" alt="london" />
        </div>
        <button class="prev-button" ><</button>
        <button class="next-button" >></button>
    </div>
    <script defertype="text/javascript" src="../Static/JS/slider.js"></script>
</body>
