<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="/Static/CSS/Index.css" rel=" stylesheet" type="text/css" />
    <script type="text/javascript" src="../Static/JS/index.js"></script>
    
</head>
<body>
    <header class="header_style">
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас!</p>
    </header>
    <input class="input" /> <button class="button">Найти</button>
    <!--<div class="bordered">-->
    <!--<a href="https://www.youtube.com/watch?v=Vn28Tk_uuq0">
        <button class="block">
            Москва
        </button>
    </a>
    <a href="https://www.youtube.com/watch?v=GSmCh4DrbWY">
        <button class="block">
            Нью-Йорк
        </button>
    </a>
    <a href="https://www.youtube.com/watch?v=JplMzss6_YE&ab_channel=WokiliWanders">
        <button class="block">
            Лондон
        </button>
    </a>-->
    <!--</div>-->
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>О проетке</p></a>
            <a href="/"><p>Все трансляции</p></a>
        </div>
    </aside>
    <div>
        <div class="video-container">
            <iframe width="500" height="250" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Трансляция с Нью-Йорка</p>
        </div>
        <div class="video-container">
            <iframe width="500" height="250" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Трансляция с Москвы</p>
        </div>
        <div class="video-container">
            <iframe width="500" height="250" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Трансляция с Лондона</p>
        </div>
        <aside id="sidebar">
            <div class="navbar">
                <a href="/"><p>О проетке</p></a>
                <a href="/"><p>Все трансляции</p></a>
            </div>
        </aside>
    </div>
</body>
</html>
<footer>
    <p>
        LifeSpot - видео трансляции
    </p>
    <p>
        Связь с разработчиком: contact@lifespot.ru
    </p>
</footer>